<!DOCTYPE html>
<html>
<head>
	<title>My Form</title>
</head>
<body>
	<h1>My Form</h1>
	<form action="/" method="post">
		<p>
			<label for="input1">INTERMACS:</label>
			<input type="text" id="input1" name="input1">
		</p>
		<p>
			<label for="input2">MELD:</label>
			<input type="text" id="input2" name="input2">
		</p>
		<p>
			<label for="input3">Number of Inotropes:</label>
			<input type="text" id="input3" name="input3">
		</p>
		<p>
			<label for="input4">Hemoglobin:</label>
			<input type="text" id="input4" name="input4">
		</p>
		<p>
			<label for="input5">Race:</label>
			<input type="text" id="input5" name="input5">
		</p>
		<p>
			<label for="input6">Smoking:</label>
			<input type="text" id="input6" name="input6">
		</p>
		<p>
			<label for="input7">RAP:</label>
			<input type="text" id="input7" name="input7">
		</p>
		<p>
			<label for="input8">AST:</label>
			<input type="text" id="input8" name="input8">
		</p>
		<p>
			<label for="input9">BUN:</label>
			<input type="text" id="input9" name="input9">
		</p>
		<p>
			<label for="input10">GFR:</label>
			<input type="text" id="input10" name="input10">
		</p>
		<p>
			<input type="submit" value="Submit">
		</p>
	</form>
</body>
</html>